* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  width: 100vw;
  height: 10vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: cornflowerblue;
  border: 5px solid white;
}


.wrapper {
  display: flex;
  flex-direction: row;
  width: 100vw;
}


.aside-wrapper {
  height: 86vh;
}

.content {
  display: flex;
  width: 50vw;
  height: 86vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: rgb(255, 244, 193);
  border: 5px solid white;
}

aside {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 25%;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: rgb(255, 244, 193);
  border: 5px solid white;
}


.cta > a > button {
  margin-top: 5px;
  padding: 5px;
  border-radius: 25px;
}

footer {
  display: flex;
  width: 100vw;
  height: 10vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: cornflowerblue;
  border: 5px solid white;
}